<div class = "Validation-Container row medium-10">
  <h1>Validation</h1>
  <table id="Validation-Data" class="unstriped">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th width="100px">Edits</th>
        <th>Review Edit</th>
        <th>Changeset Comment</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <!-- <div class="teams-none">
    <img src="{{ site.domain }}{{ site.path_prefix }}/assets/graphics/content/logos/Edit.svg"/>
    <p>There are does not seem to be any tracked OSM contributions in {{ page.name }}.</p>
  </div> -->
</div>
<p>Powered by <a href="https://osmcha.mapbox.com">OSMCha</a></p>
